.header {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

.content ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: auto auto auto;
}

/* .navButton {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 98vw;
  top: 50%;
} */

.navButton button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  filter: invert(0.1);
  border: none;
}

.navButton button.next {
  right: 16px;
}

.navButton button.prev {
  left: 16px;
}

.navButton button.next:hover,
.navButton button.prev:hover {
  filter: invert(0.5);
}

.navButton button.inactive {
  display: none;
}
