.searchBar {
  position: relative;
  background-color: #363b4a;
  padding: 8px;
  border-radius: 40px;
}

.searchBar form {
  display: flex;
  align-items: center;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  opacity: 0;
  height: 32px;
  width: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: width 0.3s ease-in-out;
}

.inputField.showInput {
  opacity: 100%;
  width: 28vw;
  margin-left: 18px;
  transition: width 0.3s ease-in-out;
}

.inputWrapper button.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  filter: invert(0.5);
  right: 10%;
}

.inputWrapper button.inactive {
  display: none;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    51% {
        transform: rotate(372deg);
    }
    53% {
        transform: rotate(377deg);
    }
    68%{
        transform: rotate(346deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .search.showInput svg {
    animation: rotate 1.5s linear;
  }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf0f2;
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 50%;
  box-shadow: inset -4px -4px #dfdfdf;
}

.search svg {
  filter: invert(81%) sepia(50%) saturate(318%) hue-rotate(160deg)
    brightness(93%) contrast(91%);
}
