.next .navArrow {
  background-image: url("/logos/pokeball-arrow-right.svg");
}

.prev .navArrow {
  background-image: url("/logos/pokeball-arrow-left.svg");
}

.navArrow {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 100px;
  overflow: visible;
}

.next .navImage {
  left: 0;
}

.prev .navImage{
    right: -10px;
}

.navImage {
  position: absolute;
  top: -18px;
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.7));
}
