.card {
  --card-width: 210px;
  --card-height: 290px;
  font-family: "Exo", sans-serif;
  padding: 24px;
  width: var(--card-width);
  height: var(--card-height);
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #1f1f1f;
  border-radius: 16px;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
  height: 100%;
}

.entry img {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
